
    <div class="form-group">
        <fieldset class="form-group">

            <label>Upload Logo</label>
            {{imageError}}
            <div class="custom-file fileInputProfileWrap">
                <input type="file" accept="image/*" (change)="fileChangeEvent($event)" class="fileInputProfile">
                <div class="img-space">

                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img *ngIf="localCompressedURl"
                        [src]="localCompressedURl" />
                    </ng-container>
                    <ng-template #elseTemplate>

                        <img src="./../../../assets/placeholder.png" class="img-responsive">
                    </ng-template>

                </div>

            </div>
        </fieldset>
    </div>
    <!-- <a class="btn btn-success" (click)="removeImage()" *ngIf="isImageSaved">Remove</a> -->

