<app-navbar title="Gestion des quiz" [trouble]="trouble"></app-navbar>
<div class="row">
    <div class="menu col-md-2">
      <app-filtre-quiz (filterName)="applyFilterName($event)" (filterTheme)="applyFilterTheme($event)"></app-filtre-quiz>
      <br>
      <button class="btn btn-primary" routerLink="create">Ajouter un quiz</button>

      <button  [class]="state=='modify'? 'btn btn-danger' : 'btn btn-primary'"
      class="btn btn-primary" (click)="changeState('modify')">Modifier un quiz</button>

      <button [class]="state=='delete'? 'btn btn-danger' : 'btn btn-primary'"
      (click)="changeState('delete')">Supprimer un quiz</button>

    </div>
    <div class="quizzes col-md-10">
        <div class="quizlist" *ngIf="quizList">
            <div *ngFor="let quiz of quizList">
                <div class="quizBox">

                    <div (click)="action(quiz)">
                      <div class="card" >
                        <div class="cardTop">
                          <img class="card-img-top" src={{quiz.image}} alt="Card image cap">
                        </div>
                        <div class="cardBot">
                          <p>{{ quiz.name }}-{{ quiz.theme.name }}</p>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
