.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    width:200px;
    height:50px;
    font-size: 20px;
    margin-top: 20px;
}

.row{
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.quizeBox {
  margin : 10px 0px 0px 10px;

}

.quizzes{

}

.quizlist {
  background-color: antiquewhite;
  width:100%;
}



.card {

  display: flex;
  flex-direction: column;
}

.cardTop {
  width: 150px;
  height: 150px;
}

.cardBot {
  width: 150px;
  height: 20px;
}


img {
  width: 99%;
  height: 99%;
}

p {
  text-align: center;
}

