.main {
    background-color: rgba(188, 216, 222, 0.97);
    width: 100%;
    height:100%;
}

.answers{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height:50%;

}


button {
  width:80%;
  height:80%;
  font-size: 1em;
}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:50%;
}

.questionText{
  text-align: center;
  font-size: 200%;
  padding:10px;
  height: 40%;
  display: flex;
  align-items: center;

}

.question img{
  height: 60%;
  max-width: 100%;
  object-fit: contain;
  padding:5px;
}

.answersImg img {
  background-color: white;

  object-fit: contain;
  width:80%;
  height:80%;
}

.answersTxt{
  font-size: 150%;
  height: 100%;
  width: 100%;

}
.answer{
  border: solid 5px white;
  cursor: pointer;

}

.answer:hover{
  border: solid 5px transparent;
}

.answersImg{
  height: 100%;
  width: 100%;
}

.col-md-6{
  height:50%;
  padding: 0px;
  margin:0px;
}




