<div class="menu">

  <div class="bttn" id="menu-btn">
    <button type="button" class="btn btn-primary" routerLink="">Accueil</button>
  </div>

  <div class="bttn">
    <button type="button" class="btn btn-primary" routerLink="..">Retour</button>
  </div>

</div>

<p id="title">Veuillez choisir une taille de police</p><br>


<div>
  <button id="button1" class="btn btn-primary" > Exemple de taille 1</button>
</div>

<div>
  <button id="button2" class="btn btn-primary" >Exemple de taille 2</button>
</div>

<div>
  <button id="button3" class="btn btn-primary" >Exemple de taille 3</button>
</div>

<div>
  <button id="button4" class="btn btn-primary" >Exemple de taille 4</button>
</div>
