<div class="main">
  <div class="menu">
    <div>
      <button type="button" class="btn btn-primary" routerLink="">Accueil</button>
    </div>
    <div>
      <button type="button" class="btn btn-primary" routerLink="..">Retour</button>
    </div>
  </div>
  <app-quiz-page-size-selection *ngIf="!startQuiz" (size)="getSize($event)"></app-quiz-page-size-selection>
  <div *ngIf="startQuiz" >
    <div class="titre col-md-10">
      <h1 *ngIf="quiz">Quiz : {{ quiz.name }}</h1>
    </div>
    <app-profile [profile]="profile"></app-profile>
    <div class="row">
      
      <app-question class="col-md-8 question" *ngIf="quiz&&!quizDone" [question]="questionList[index]" (nextQ)="receiveQ($event)"></app-question>
      <div class="col-md-2 btnTree" *ngIf="!quizDone">
        <button id="finish" class="btn btn-danger" (click)="terminateQuiz()" >Terminer le quiz</button>
      </div>
      <app-end-quiz *ngIf="quizDone" [stats]="stats"></app-end-quiz>
    </div>
  </div>
</div>