.main {
  background-color: rgba(188, 216, 222, 0.97);
  width: 100%;
  height:100%;
}

.answers{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50%;
}

.answersBig{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70%;
}


button {
  width:80%;
  height:80%;
  font-size: 1em;
}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:60%;
}

.questionOnly{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 30%;
}

.questionText1{
  text-align: center;
  font-size: 300%;
  padding:10px;
  height: 40%;
  display: flex;
  align-items: center;
}
.questionText2{
  text-align: center;
  font-size: 400%;
  padding:10px;
  height: 40%;
  display: flex;
  align-items: center;
}
.questionText3{
  text-align: center;
  font-size: 450%;
  padding:10px;
  height: 40%;
  display: flex;
  align-items: center;
}
.question img{
  height: 80%;
  max-width: 100%;
  object-fit: cover;
  padding:5px;
}

.answersImg > img {
  object-fit: contain;
  width:80%;
  height:80%;
}

.answersBigImg > .col-md-6 > img {
  object-fit: contain;
  width:80%;
  height:80%;
}

.answersTxt1{
  font-size: 250%;
  height: 100%;
  width: 100%;
}
.answersTxt2{
  font-size: 350%;
  height: 100%;
  width: 100%;
}
.answersTxt3{
  font-size: 450%;
  height: 100%;
  width: 100%;
}
.answer{
  border: solid 10px #ffffff;
  margin-top: 10px;
  cursor: pointer;
}

.answersImg{
  height: 100%;
  width: 100%;
}

.answersBigImg{
  height: 100%;
  width: 100%;
}

.col-md-6 {
  height: 50%;
  padding: 0px;
  margin:0px;
}







