.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
}
