.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    width:100%;
}

#resume {
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
    border:solid 1px black;
    margin : 5px;
    text-align: center;
}

.page-content{
  width:100%;
}
