.container{
  width:100%;
  display:flex;
  justify-content: center;
flex-direction: column;
align-items: center;}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.answers{
  display:flex ;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}
