<div class="profile" appSizeDirective>
    <img src={{profile.image}} alt="Card image cap">
    <p>
        {{profile.firstName}}   {{profile.lastName}}
    </p>
    <p>
        Date de naissance : {{profile.birthDate | date : "dd/MM/yyyy"}}
    </p>
    <p>
        sexe : {{profile.gender}}
    </p>
    <p>
        trouble : {{trouble}}
    </p>
    <div class="liste">
      <div *ngFor="let history of stat">
        <app-display-stat [stat]="history" [display]="history===selectedStat" (click)="selectedStat=history"></app-display-stat>
      </div>
    </div>
</div>
