<div class="closebtn row">
  <button class="btn btn-danger" (click)="close()"> close </button>
</div>
<div *ngIf="profile&&stat" class="profile" appSizeDirective>
  <div class="detail">
    <img src={{profile.image}} alt="Card image cap">
    <div >
    <h1>
        {{profile.firstName}}   {{profile.lastName}}
    </h1>
    <p>
        Date de naissance : {{profile.birthDate | date : "dd/MM/yyyy"}}
    </p>
    <p>
        sexe : {{profile.gender}}
    </p>
    <p>
        trouble : {{trouble}}
    </p>
    </div>
    <div *ngIf="stat.length>0" class="liste">
      <div *ngFor="let history of stat.reverse()">
        <app-display-stat [stat]="history" [display]="history===selectedStat" (click)="selectedStat=history"></app-display-stat>
      </div>
    </div>
</div>
