<form *ngIf="themes" [formGroup]="quizForm">
    <label for="title">
      Title <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'"  ngModel maxlength="50">
    </label>
    <br>
    <label for="Theme">
      <br/>
      Theme <br>
      <select name="theme" id="theme" [formControlName]="'themeId'" required>
          <option *ngFor="let theme of themes" [value]="theme.id">{{theme.name}}</option>
      </select>
    </label>
    <button (click)="openDialog()">add theme</button>
    <br/>
    <app-image-uploader (cardImageBase64Event)="receiveImg($event)"></app-image-uploader>
    <br/>
    <button type="submit" [class]="!(quizForm.valid&&image) ? 'btn btn-danger':'btn btn-success' " [disabled]="!(quizForm.valid&&image)" (click)="addQuiz()">Suivant</button>
</form>
 