.container {
  width:100%;
  height: 85%;
  display: flex;
  justify-content: center;

}

.info{
display: flex;
flex-direction: column;
align-items: center;
width:100%;
height: 100%;
}

.questions{
  display: flex;
flex-direction: column;
align-items: center;
width:100%;
height: 100%;
background-color: antiquewhite;
border-radius: 10px;
}

form{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.quest{
  margin: 5px 0px 5px 0px;
  width:100%;
  height: 100%;
  white-space: pre-line;
}
.question{
  width: 95%;
  margin: 5px 0px 5px 0px;
  border-radius: 10px;
  background-color: white;
  display: flex;
align-items: center;}

#addquest{
  margin:20px 0px 20px 0px;
}



