.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cfebf0;

}
button{
  width:200px;
  height:50px;
  font-size: 20px;
  margin-top: 20px;
}

.container{
align-items: flex-start;
justify-content: flex-start;
height: 89%;
width: 100%;
}
input{
margin:10px;
}

.profileBox {
margin : 10px 0px 0px 10px;

}

.profiles{
  background-color: antiquewhite;
  padding-left: 0px;
}

.profileList {
  overflow: auto;
  scrollbar-width: thin;
  max-height: 100%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}


.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;

}

.cardTop {
  width: 150px;
  height: 150px;
}

.cardBot {
  width: 150px;
  height: 40px;
}


img {
  width: 100%;
  height: 100%;
}

p{
text-align: center;
}

.menu > p {
  font-size: 2em;
}

