<app-navbar title="Gestion des profils" [trouble]="trouble"></app-navbar>
<div class="row">
    <div class="menu col-md-3" appSizeBoxDirective [heightMax]="'100%'" [heightMin]="'50%'">
      <p>Filtre</p>
            <input #box (keyup)="onKey(box.value)">

            <button class="btn btn-primary" routerLink="create">Ajouter un profil</button>

            <button  [class]="state=='modify'? 'btn btn-danger' : 'btn btn-primary'"
            (click)="changeState('modify')">Modifier un profil</button>

            <button  [class]="state=='delete'? 'btn btn-danger' : 'btn btn-primary'"
            (click)="changeState('delete')">Supprimer un profil</button>
    </div>
    <div appSizeBoxDirective [heightMax]="'100%'" [heightMin]="'50%'" class="profiles  col-md-9">
        <div  class="profileList " *ngIf="profileList">
            <div *ngFor="let profile of profileList">
                <div class="profileBox">
                    <div (click)="action(profile)">
                        <div class="card" >
                          <div class="cardTop">
                            <img class="card-img-top" src={{profile.image}} alt="Card image cap">
                          </div>
                          <div class="cardBot">
                            <p>{{ profile.firstName }} {{ profile.lastName }}</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
