<app-navbar title="Gestion des profils" [trouble]="trouble"></app-navbar>
<div class="row">
  <div class="menu col-md-3">
    <p style="font-size: 3em; text-align: center;">Filtre</p>
    <input #box (keyup)="onKey(box.value)">

    <button class="btn btn-primary textParam" routerLink="create">Ajouter un profil</button>

    <button [class]="state=='modify'? 'btn btn-danger textParam' : 'btn btn-primary textParam'"
      (click)="changeState('modify')">Modifier un profil</button>

    <button [class]="state=='delete'? 'btn btn-danger textParam' : 'btn btn-primary textParam'"
      (click)="changeState('delete')">Supprimer un profil</button>
  </div>
  <div class="profiles col-md-9">
    <div class="profileList " *ngIf="profileList">
      <div class="profileBox" *ngFor="let profile of profileList">
        <div (click)="action(profile)">
          <div class="card">
            <div class="cardTop">
              <img class="card-img-top" src={{profile.image}} alt="Card image cap">
            </div>
            <div class="cardBot">
              <p>{{ profile.firstName }} {{ profile.lastName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>