p{
  display: flex;
  justify-content: center;
  font-size: 3vw;
  text-align: center;
}

.quit{
  display: flex;
  justify-content: center;
  width: 100%;
}

button{
  font-size: 4vw;
}

.container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
