<app-navbar title="Créer un profil" [trouble]="trouble"></app-navbar>

<div class="page-content">
    <form [formGroup]="profileForm">
        <div class="row">
            <div class="form-group has-error">
                <label for="firstName">
                    Prénom
                    <input class="input-custom" type="text" id="firstName" [formControlName]="'firstName'" ngModel
                        maxlength="50" required>
                </label>
                <p [style.visibility]="invalidFirstName()?'visible':'hidden'" id="email_error" class="help-block">champ
                    vide *.</p>
            </div>
            <div class="form-group has-error">
                <label for="lastName">
                    Nom
                    <input class="input-custom" type="text" id="lastName" [formControlName]="'lastName'" ngModel
                        maxlength="50" required>
                </label>
                <p [style.visibility]="invalidLastName()?'visible':'hidden'" id="email_error" class="help-block">champ
                    vide *.</p>
            </div>
        </div>

        <br>

        <div class="row">

            <label for="gender">
                <br />Sexe<br>
                <select name="gender" id="gender" [formControlName]="'gender'" required>
                    <option [value]="'Femme'">Femme</option>
                    <option [value]="'Homme'">Homme</option>
                </select>
            </label>
            <br>
            <label for="Handicap">
                <br />Handicap<br>
                <select name="trouble" id="troube" [formControlName]="'trouble'" required>
                    <option *ngFor="let trouble of HANDICAP_LIST" [value]="trouble">{{trouble}}</option>
                </select>
            </label>

        </div>

        <div class="row">

            <br>

            <label for="birthDate">
                <br />
                date de naissance <br>
                <input class="input-custom" type="date" id="birthDate" [formControlName]="'birthDate'" required>
            </label>
        </div>
        <div class="row">

            <app-image-uploader (cardImageBase64Event)="receiveImg($event)"></app-image-uploader>
        </div>
        <button type="submit" [disabled]="!profileForm.valid" (click)="createProfile()"
            [class]="!profileForm.valid? 'btn btn-danger':'btn btn-success' ">Créer</button>
    </form>
</div>