<div class="menu">

    <div class="menu-btn"> 
        <div>
            <button type="button" class="btn btn-primary" (click)="openDialog('accueil')">Accueil</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="openDialog('retour1')">Retour</button>
        </div>
    </div>

    <p class="title" *ngIf="quiz">Quiz : {{ quiz.name }}</p>
    
    <app-profile *ngIf="profile" [profile]="profile"></app-profile>
    
</div>
<div class="row">
    <div class="col-md-2 btnTree" *ngIf="!quizDone">
        <div class="questions" *ngFor="let question of questionList; let n=index">
            <button [disabled]="this.stats.questionsDone.includes(question.id)"
                [class]="this.stats.questionsDone.includes(question.id)? 'btn btn-success' : 'btn btn-primary'"
                (click)="skipQ(n)" >Q{{n+1}}</button>
        </div>
    </div>
    <app-question-memory class="col-md-8 question" *ngIf="quiz&&!quizDone" [question]="questionList[index]" (nextQ)="receiveQ($event)"></app-question-memory>
    <div class="col-md-2 btnTree" *ngIf="!quizDone">
        <button id="finish" class="btn btn-danger" (click)="terminateQuiz()" >Terminer le quiz</button>
    </div>
</div>

<app-end-quiz *ngIf="quizDone" [stats]="stats" [quiz]="quiz"></app-end-quiz>
