.main {
    padding: 20px;
    display : flex;


}

.menu {
    display: flex;

}

.questions{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    margin: 20px;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-size: 2em;

}

.btnTree {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.titre {
  font-size: 3em;
  margin-left: 20px;
  text-align: center;
}

