.btn {
  margin: 10px;
  width:90px;
  justify-content: center;
  font-size: 20px;
}

img{
  height:50px;
  width:50px;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: 6px;
}

.title{
  display:flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.photo{
  display:flex;
  justify-content: flex-end;
}

.navbar {
  border-radius: 0px;
  border-bottom: black 1px solid;
  background-color: lightskyblue;
  font-size: 25px;
  margin-bottom:5px
}

