<div class="main">
    <div class="question">
        <div *ngIf="question.image">
            <img src={{question.image}} alt="">
        </div>
        <div class="question" >
          <p *ngIf="size==1" class="size1">{{question.text}}</p>
          <p *ngIf="size==2" class="size2">{{question.text}}</p>
          <p *ngIf="size==3" class="size3">{{question.text}}</p>
          <p *ngIf="size==4" class="size4">{{question.text}}</p>

        </div>
    </div>

    <div class="answers" *ngFor="let answer of question.answers">
        <button *ngIf="size==1" class="size1" [style.visibility]="this.wrongAnswers.includes(answer)? 'hidden' : 'visible'" (click)="nextQuestion(answer)">
            {{answer.text}}
            <img *ngIf="answer.image" src={{answer.image}} alt="">
        </button>
      <button *ngIf="size==2" class="size2" [style.visibility]="this.wrongAnswers.includes(answer)? 'hidden' : 'visible'" (click)="nextQuestion(answer)">
        {{answer.text}}
        <img *ngIf="answer.image" src={{answer.image}} alt="">
      </button>
      <button *ngIf="size==3" class="size3" [style.visibility]="this.wrongAnswers.includes(answer)? 'hidden' : 'visible'"  (click)="nextQuestion(answer)">
        {{answer.text}}
        <img *ngIf="answer.image" src={{answer.image}} alt="">
      </button>
      <button *ngIf="size==4" class="size4" [style.visibility]="this.wrongAnswers.includes(answer)? 'hidden' : 'visible'" (click)="nextQuestion(answer)">
        {{answer.text}}
        <img *ngIf="answer.image" src={{answer.image}} alt="">
      </button>
    </div>
</div>
