.main {
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

button {
    min-width: 500px;
    min-height: 200px;
    margin: 25px;
    
}

.answers {
    display: inline;
}

img{
    width:128px;
    height:128px;
}