<div class="main">
    <div class="question">
        <div *ngIf="question.image">
            <img src={{question.image}} alt="">
        </div>
        <div class="question" >
          <p *ngIf="size==1" id="size1">{{question.text}}</p>
          <p *ngIf="size==2" id="size2">{{question.text}}</p>
          <p *ngIf="size==3" id="size3">{{question.text}}</p>
          <p *ngIf="size==4" id="size4">{{question.text}}</p>

        </div>
    </div>

    <div class="answers" *ngFor="let answer of question.answers">
        <button [style.visibility]="this.wrongAnswers.includes(answer)? 'hidden' : 'visible'" class="answer" (click)="nextQuestion(answer)">
            {{answer.text}}
            <img *ngIf="answer.image" src={{answer.image}} alt="">

        </button>
    </div>
</div>
