
.btn {
  margin: 10px;
  width:90px;
  justify-content: center;
  font-size: 20px;
  }

.app-question-moteur{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row{
    width:100%;
    display: flex;
    justify-content: center;
    height: 90%;
  }

  #finish {
    width: auto;
    height: 100px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .terminatebtn{
    display: flex;
    font-size: 100%;
    align-items: flex-end;
    justify-content: center;

  }
  .numQuest {
    display: flex;
    font-size: 300%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


