.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    justify-content: center;

}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;

}

button{
  white-space: pre-line;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 2vw;

}

img{
    object-fit: contain;
}

.text{
    font-size: 5vw;
    text-align: center;
    width: 100%;

}

.answer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
