.container{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.quiz{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gestiontheme{
  width:100%;
  height: 100%;
}
.themes{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 10px;
}
.compolist{
  width:95%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid black;

}
label{
  margin :10px;
}

p{
  font-size: 20px;
  margin: 5px;
}
.compostructure{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list{
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;  flex-direction: column;

}

.btn-info{
  margin:20px 0px 20px 0px;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
