<app-navbar title="Gestion des quiz" [trouble]="trouble"></app-navbar>
<div class="row">   
    <div class="menu col-md-2">
        <div class="row">
            <button class="btn btn-primary" routerLink="create">Ajouter un quiz</button>
        </div>
        <div class="row">
            <button class="btn btn-primary">Modifier un quiz</button>
        </div>
        <div class="row">
            <button class="btn btn-primary" (click)="deleteClem(1586034129694)">Supprimer un quiz</button>
        </div>
    </div>
    <div class="col-md-10">
        <app-quiz-list></app-quiz-list>
    </div>
</div> 