.btn {
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-size: 2em;
}

p {
    font-size: 3em;
    text-align: center;
}
input{
  margin:10px;
}
.quizzes{
  width:100%;
  height: 100%;
  background-color: antiquewhite;
}
.row{
  align-items: flex-start;
  justify-content: flex-start;
  height: 89%;
  width: 100%;
}

.quizlist {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.filter{
  height: 35%;
}


