<nav>
  <div [class]="(display) ? 'deroulant-show' : 'deroulant-hide'" (click)="display = !display">
    <h2>Quiz : {{stat.quiz.name}} - Theme : {{stat.quiz.theme.name}} | réalisé le {{stat.date | date : "dd/MM/yyyy"}}</h2>
    <ul class="liste">
      <li>Score: {{stat.score}}</li>
      <li>Temps pour finir le quiz: {{stat.time/1000}} secondes</li>
      <li *ngIf="stat.missclics!=null">Clics ratés : {{stat.missclics}}</li>
      <li>Résumé des réponses:
        <ul class="sous-liste">
          <li *ngFor="let answer of stat.resume | keyvalue; let i = index"> Question {{i+1}}: Réponse {{(answer.value)?"correcte":"fausse"}}. </li>
        </ul>
      </li>
      <li *ngIf="stat.trial">Essais:
        <ul class="sous-liste">
          <li *ngFor="let question of stat.trial | keyvalue; let i = index"> Question {{i+1}}: {{question.value}} essais</li>
        </ul>
      </li>
      <li>Nombre de bonnes réponses: {{stat.nbRightAnswers}}</li>
      <li>Nombre de mauvaises réponses: {{stat.nbWrongAnswers}}</li>
    </ul>
  </div>

</nav>
