button {
    height: 150px;
    width: 300px;
    font-size:50px;
    margin: 30px;
}



div {
    display: flex;
    justify-content: space-around;
}

#title {
    font-size: 3em;
    text-align: center;
    margin: 50px;
}

#description {
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
}

.row{
  display: flex;
  justify-content: center;
}

.accueil{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:100%;
}

