<p id="title">Bienvenue sur PolyQuiz</p><br>
<p id="description">Pour continuer, choisissez une catégorie de handicap </p><br>
<div>
    <button type="button" class="btn btn-primary" routerLink="memoire/profile-list-page">Mémoire</button>
    <button type="button" class="btn btn-primary" routerLink="vue/profile-list-page">Vue</button>
    <button type="button" class="btn btn-primary" routerLink="moteur/profile-list-page">Moteur</button>
    <button type="button" class="btn btn-primary" routerLink="stat">Stat</button>
    
</div>



