<p id="title">Bienvenue sur PolyQuiz</p><br>
<p id="description">Pour continuer, choisissez une catégorie de handicap </p><br>
<div class="row">
    <button type="button" class="btn btn-primary" routerLink="memoire/profile-list-page" (click)="setCurrentTrouble('memoire')">Mémoire</button>
    <button type="button" class="btn btn-primary" routerLink="vue/profile-list-page" (click)="setCurrentTrouble('vue')">Vue</button>
    <button type="button" class="btn btn-primary" routerLink="moteur/profile-list-page" (click)="setCurrentTrouble('moteur')">Moteur</button>
</div>
<div class="row">
    <button type="button" class="btn btn-primary" routerLink="stat">Créer un profil</button>
    <button type="button" class="btn btn-primary" routerLink="stat">Créer un quiz</button>
    <button type="button" class="btn btn-primary" routerLink="stat">Stat</button>
</div>




