<p id="title">Bienvenue sur PolyQuiz</p><br>
<p id="description">Pour continuer, choisissez une catégorie de handicap </p><br>
<div>
    <button type="button" class="btn btn-primary" routerLink="memoire/profileListPage">Mémoire</button>
    <button type="button" class="btn btn-primary" routerLink="vue/profileListPage">Vue</button>
    <button type="button" class="btn btn-primary" routerLink="moteur/profileListPage">Moteur</button>
    <button type="button" class="btn btn-primary" routerLink="stat">Stat</button>
    
</div>



