.liste img{
  width: 150px;
  height: 150px;;
  margin: 10px;

}
p{
  font-size: 20px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size: x-large;
  cursor: pointer;

}
.closebtn{
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.liste{
  width:100%;
  max-height: 45%;
}

img>ul{
  border-radius: 100px;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:10px
}



.answersImg{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer > img {
  border-width: 3px;
  border-style: solid;
}

.deroulant-hide > ul {
  display: none;
}

.deroulant-show > ul {
  display: block;
}



nav{
  margin: 5px;
  padding:5px;
  font-size: 20px;
  background-color: bisque;
  border-radius: 10px;
}
