.page-content{
    display: flex;
    justify-content: center;
    width:100%;
    height: 85%;
    font-size: 1em;
    flex-direction: column;
    align-items: center;

}

input{
    width: 100%;
    height: 40px;
}


form{
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.btn {
    margin: 20px;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 10px;
  }

  label{
    margin-left:20px;
    margin-right: 20px;
  }

  .row{
    width:100%;
    height: 20%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

p{
  text-align: center;
}
