.btn {
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 10px;
  font-size: 2em;
  margin: 20px;
}

.title {
  flex-direction: column;
  font-size: 3.5em;
  text-align: center;
}


.size-selection {
  padding: 20px;
  display : flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
}

#button1 {
   min-height: 20px;
   min-width: 20%;
   font-size: 200%;
   margin-top: 20px;
}
#button2 {
  min-height: 50px;
  min-width: 20%;
  font-size: 300%;
  margin-top: 20px;
}
#button3 {
  min-height: 100px;
  min-width: 20%;
  font-size: 400%;
  margin-top: 20px;
}




