<div class="container">
    <div class="col-sm-8 col-md-10 answer">
        <div *ngIf="!isText" class="image">
            <img [src]="answer.image" />
        </div>
        <div *ngIf="isText" class="text">
            <p>{{answer.text}}</p>
        </div>
    </div>
    <div class="col-sm-4 col-md-2 buttons">
        <button class="btn btn-success" type="button" (click)="validate=true;close();">Valider la réponse</button>
        <button class="btn btn-danger" type="button" (click)="validate=false;close();">Annuler la réponse</button>
    </div>
</div>
